# {{ ansible_managed }}

<IfModule mod_ssl.c>
    <VirtualHost {{ apache_default_var_www_server_binding }}:{{ apache_default_var_www_server_https_port }}>
        ServerName {{ apache_virtualhost_server_name }}
        ServerAdmin {{ apache_virtualhost_server_admin }}
        DocumentRoot {{ apache_virtualhost_document_root }}
    {% if apache_virtualhost_document_root_alias !=  '' %}
        Alias /{{ apache_virtualhost_document_root_alias }} "{{ apache_virtualhost_document_root }}"
    {% endif %}

        # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
        LogLevel warn ssl:warn

#        ErrorLog ${APACHE_LOG_DIR}/error.log
#        CustomLog ${APACHE_LOG_DIR}/access.log combined

        <Directory {{ apache_virtualhost_document_root }}>
    {% for option in apache_virtualhost_options %}
            Options {{ option }}
    {% endfor %}
            AllowOverride {{ apache_virtualhost_allowoverride }}
            Order allow,deny
            # Allow access to web content
            allow from all
            Require all granted
        </Directory>

        # Enable SSL for this virtual host.
        SSLEngine on
        SSLCertificateFile      {{ apache_virtualhost_ssl_cert_path }}/{{ apache_virtualhost_ssl_cert_file }}
        SSLCertificateChainFile {{ apache_virtualhost_ssl_cert_chain_path }}/{{ apache_virtualhost_ssl_cert_chain_file }}
        SSLCertificateKeyFile   {{ apache_virtualhost_ssl_key_path }}/{{ apache_virtualhost_ssl_key_file }}

        # Apply SSL settings
        <FilesMatch "\.(cgi|shtml|phtml|php)$">
                SSLOptions +StdEnvVars
        </FilesMatch>

    </VirtualHost>
</IfModule>